.container {
  padding: 5px;
  margin: 5px;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;

    .label {
      font-size: 1.1em;
      font-weight: bold;
      color: #2c3e50;
    }

    .imageForm {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}
