.layout {
  display: flex;
  width: 100%;
  height: 100svh;
  max-width: 100%;
  font-family: 'Roboto, sans-serif';

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    .mainContent {
      flex-grow: 1;
      flex-direction: column;
      overflow-y: auto;
    }
  }
}
