.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  font-family: 'Roboto, sans-serif';

  .sidebar {
    width: 200px;
    background-color: #3b3f45;
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menuItem {
      margin: 20px 0;
      color: white;
      text-decoration: none;
      font-size: 1em;
      transition: color 0.3s;
    }

    .menuItem:hover {
      color: #1abc9c;
    }
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    .mainContent {
      flex-grow: 1;
      flex-direction: column;
      overflow-y: auto;
    }
  }
}
