$sidebar-width: 200px;
$translation-duration: 0.3s;

.sidebar {
  width: $sidebar-width;
  background-color: #3b3f45;
  color: #ffffff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.split {
    height: 100%;
    z-index: 100;
    position: fixed;
    transform: translateX(-100%);
    transition: transform $translation-duration ease;
  }

  &.splitOpen {
    transform: translateX(0);
  }

  &.close {
    display: none;
  }

  .menuItem {
    margin: 20px 0;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
  }

  .menuItem:hover {
    color: #1abc9c;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
}
